.deal-screen {
  background: -webkit-linear-gradient(to bottom, #fbf4e4 15%, #fbf4e400 40%);
  background: linear-gradient(to bottom, #fbf4e4 15%, #fbf4e400 40%);
}
.deal-screen .carousel-container {
  height: 50rem;
  background: url('../../../img/banner-Save.jpg') center 0 no-repeat;
  padding-top: 22rem;
}
.screen--1 .carousel-container {
  height: 50rem;
  background: url('../../../img/banner-Save1.jpg') center 0 no-repeat;
  padding-top: 22rem;
}
.deal-screen .react-multiple-carousel__arrow--left {
  left: 0; /*5px more for safari hover*/
}
.deal-screen .react-multiple-carousel__arrow--right {
  right: 0; /*5px more for safari hover*/
}
.deal-screen .react-multiple-carousel__arrow {
  height: 28rem;
  padding: 0 3rem;
  border-radius: 0;
  top: 0;
  text-shadow: 2px 2px 2px #111;
}
.deal-screen .react-multiple-carousel__arrow:not(.disabled, [disabled]) {
  background: transparent;
}
.deal-screen .react-multiple-carousel__arrow::before {
  font-size: 4rem;
}
.deal-screen .screen__title {
  margin-top: 2rem;
}
.deal-screen .screen__featured {
  background: -webkit-linear-gradient(to bottom, #fbf4e400 0%, #fbf4e4 30%);
  background: linear-gradient(to bottom, #fbf4e400 0%, #fbf4e4 30%);
}
.deal-screen .price.strike {
  font-size: 14px;
  font-weight: 400;
  color: #444;
}

.deal-screen .placeholder,
.deal-screen .card {
  height: 38rem;
}
