/* NAV-ITEM CURRENCY */
.nav__line-2.sprite__wrapper {
  margin: 2px 0px 1px;
}
.nav__line-2 .sprite.flag + i {
  margin-top: -4px;
}

.currency.dropdown__menu {
  margin-top: 7px;
  left: 0;
}
.currency.dropdown__menu.show {
  padding-left: 95px;
}
.dropdown:hover > .currency.dropdown__menu.show {
  padding-left: 15px;
}
.currency.dropdown__menu:after {
  left: 140px;
}
.dropdown:hover > .currency.dropdown__menu.show:after {
  left: 25px;
  transition: all 0.4s ease-in-out;
}
.currency.dropdown__menu .separator.ml-1 {
  margin-left: 25px;
  width: auto;
}
.currency.dropdown__menu > * {
  font-size: 13px;
}

.currency.dropdown__menu > li {
  line-height: 2;
}
.currency.dropdown__menu .active * {
  cursor: default;
  color: #000;
  font-weight: normal;
}
.currency .calculator {
  display: flex;
  justify-content: space-between;
}
.sprite__wrapper {
  display: flex;
  align-items: center;
}
.sprite.circle {
  height: 20px;
  width: 20px;
  margin: 0 3px;
  background-position: -74px 0px;
  background-image: url("../../../img/flags.png");
}
.currency a:not(.disabled, .active):hover span {
  text-decoration: underline;
}
.currency a:not(.disabled, .active):hover .circle,
.languages .language:not(.disabled, .active):hover .circle {
  background-position: -122px 0px;
}
.active .sprite.circle {
  background-position: -98px 0px;
}

/* CURRENCY SCREEN */
.currency.c-screen {
  padding: 20px 25px;
}
.currency.c-screen * {
  font-size: 13px;
  font-weight: 400;
}
.currency header {
  display: flex;
  justify-content: space-around;
}
.currency .title {
  padding: 0;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 17px;
}
.currency .languages {
  margin-top: -15px;
  padding-bottom: 10px;
}
.currency .currencies {
  display: flex;
  padding-top: 18px;
  margin-bottom: 2rem;
}
.currency .select-wrapper {
  height: 3rem;
  margin: 2rem 0 1rem 0;
}
select#currency {
  display: inline-block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 0 24px 0 6px;
}

#currency optgroup {
  font-style: normal;
  font-weight: 400;
  color: #aaa;
}
#currency option {
  color: #000;
}
.btn--xs {
  padding: 6px 11px;
  margin-right: 10px;
}
.sprite.flag {
  height: 12px;
  width: 18px;
  margin: 0 3px;
  background-image: url("../../../img/flags.png");
}
.EUR {
  background-position: -18px -12px;
}
.GBP {
  background-position: -54px -96px;
}
.USD {
  background-position: -54px -108px;
}
.CZK {
  background-position: 0 -72px;
}
.PLN {
  background-position: -18px -48px;
}
.CHF {
  background-position: -54px -36px;
}
.sprite.flag.xl {
  height: 20px;
  width: 32px;
  margin-right: 10px;
  background-image: url("../../../img/flags-globe.png");
  box-shadow: 0 0 5px #0008;
}
.xl.EUR {
  background-position: -38px -26px;
}
.xl.GBP {
  background-position: -110px -194px;
}
.xl.USD {
  background-position: -110px -218px;
}
.xl.CZK {
  background-position: -2px -146px;
}
.xl.PLN {
  background-position: -38px -98px;
}
.xl.CHF {
  background-position: -110px -74px;
}
