html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  background-color: #eaeded;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.4rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
*:not(input,textarea) {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.active {
  font-weight: bold;
}
.disabled, .disabled *, .disabled:hover {
  cursor: default;
  color: #888 !important;
  outline: none !important;
  border-color: transparent !important;
}
.disabled:hover {
  background: none !important;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 6rem;
  height: 100%;
}
header {
  grid-area: header;
  min-width: 520px;
  background-color: #111;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #111;
  color: #ffffff;
}
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1500px;
  justify-content: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.row.end {
  justify-content: flex-end;
}
.col-1 {
  flex: 1 1 20rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 17 1 30rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 { padding: 1rem}
.mt-1 {margin-top:1rem}
.mr-1 {margin-right:1rem}
.mb-1 {margin-bottom:1rem}
.ml-1 {margin-left:1rem}
.mh-2 {margin:0 2rem}
.text-center {
  text-align: center;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
.flex {
  display: flex;
}
/* Header */
header a {
  padding: 1rem;
  color: #ffffff;
}
img.logo {
  width: 3.2rem;
  object-fit: cover;
  margin: 0 0 -0.5rem 0;
}
a .brand {
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
  color: #ffffff;
}
.nav-item {
  margin: 0 0.2rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
}
.nav-item:hover {
  margin: 1px;
  border: 1px solid #fff;
}
.nav-item__col {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  color: #fff;
}
.location {
  padding-top: 1rem;
}
.location .nav-item__col:first-child {
  font-size: 2.1rem;
  height: 3.4rem;
  transform: translateY(8px);
}
.location .nav-item__col:nth-child(2) {
  margin-left: 0.5rem;
}
.nav-item__line-1 {
  font-size: 1.2rem;
}
.nav-item__line-2 {
  font-size: 1.5rem;
}
.nav-item__cart .cart--count {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  font-size: 1.8rem;
  color: #ff8000;
}
.nav-item__cart img {
  margin-top: -2rem;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
  padding: .75rem 0.4rem;
}
.dropdown__menu:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -1rem;
  right: 0.7rem;
  border: 0 solid transparent;
  border-right-width: 1rem;
  border-left-width: 1rem;
  border-bottom: 1rem solid #f0f0f0;
}
.dropdown__menu:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2rem;
  top: -1rem;
  right: 0;
}
.dropdown__menu {
  position: absolute;
  display: none;
  right: -1rem;
  min-width: 14rem;
  padding: 2rem;
  z-index: 1;
  background-color: #f0f0f0;
  margin-top: 1rem;
  border-radius: 0.3rem;
  box-shadow: 0 0 2rem #111;
}
.dropdown:hover .dropdown__menu {
  display: block;
}
.dropdown__menu li {
  margin: 0;
}
.dropdown__menu li > strong {
  font-size: 1.6rem;
  line-height: 2.5;
}
.dropdown__menu a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.4rem;
  color: #111;
}
.dropdown__menu a:hover {
  color: #ff8000;
  }
.separator {
  width: 100%;
  height: 1px;
  margin: 0.5rem 0;
  background: #c8c8c8;
}
/* Aside */
.no-scroll {
  width: 100vw;
  overflow: hidden;
  position:fixed;
}
.click-catcher {
  display:block;
  position:fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  z-index: 99;
  cursor: pointer;
}
aside {
  position: fixed;
  width: 35rem;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  transform: translate3D(-40rem,0,0);
  transition: all 0.3s ease;
}
.categories {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
aside.open, aside.open button.close-sidebar {
  transform: translate3D(0,0,0);
}
button.close-sidebar {
  position: absolute;
  padding: 0.3rem 0.8rem;
  font-size: 3rem;
  top: 0.5rem;
  right: -4rem;
  background: none;
  color: #fff;
  border: none;
  transform: translate3D(-10rem,0,0);
  transition: all 0.3s ease;
}
button.close-sidebar:focus {
  outline: none;
}
button.open-sidebar {
  font-size: 2.4rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside .sidebar-user{
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.75;
  color:#fff;
  background-color: #232f3e;
}
aside .sidebar-user:hover{
  color:#fff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  margin: 0;
  line-height: 1;
  font-size: 1.8rem;
}
aside li > a,
aside li > strong {
  display: block;
  width: 100%;
  padding: 1.2rem 4rem;
}
aside li > strong {
  margin-top: 1rem;
}
aside li > a {
  font-size: 1.4rem;
  color: #111;
}
aside ul li > a:hover {
  color: #111;
  background-color: #eaeded;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.thumbnail {
  max-width: 30rem;
  width: 100%;
  height: 20rem;
  object-fit: contain;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  flex: 1 1 22%;
  margin: 2rem;
  min-width: 20rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background: #fff;
  border-bottom: 0.2rem solid #c8c8c8;
}
.card-body {
  margin-bottom: 2rem;
}
.card-body > * {
  margin-bottom: 1rem;
}
.price {
  font-size: 2rem;
  font-weight: bold;
}
.price sup {
    font-size: 1rem;
}
/* Rating */
a {
  color: #111;
}
a:hover {
  color: #c45500;
}
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #0066c0;
}
.rating:hover span:last-child {
  color: #c45500;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert--info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert--danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert--success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  width: 50rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

/* Checkout Steps */
.checkout__steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout__steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
table td,
table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table tr td:first-child,
.table tr td:nth-child(2) {
  word-break: break-word;
}
.table button {
  margin: 0 0.2rem;
}

/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search-box {
  flex: 1;
  position: relative;
}
.search-box:hover {
  border-color: transparent;
}
.search button {
  width: 4.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  margin-left: -4.5rem;
  background-color: #f6bd68;
}
.search button:hover {
  background-color: #f3a847;
}
.search input {
  flex:1;
  padding-right: 5.5rem;
  border-radius: 0.5rem;
}
.search input:focus {
  margin: -.5rem;
  outline: none;
  border: solid .5rem #f3a847;
}
.search input:focus + button {
  border-radius: 0;
}
.search__suggest {
  position: absolute;
  left: 0;
  top: 4rem;
  width: 100%;
  z-index: 999;
}
.search__suggest ul:not(:empty) {
  border: 1px solid #c8c8c8;
  margin: 2px 4px;
  outline: none;
}
.search__suggest li {
  padding: 1rem;
  margin: 0;
  color: #111;
  background: #fff;
}
.search__suggest li b {
  color: #456;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.address-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.address-box input {
  border-radius: .5rem 0 0 .5rem;
  border-right: 0;
}
.address-box .btn-right {
  border-radius: 0 .5rem .5rem 0;
  border-left: 0;
}
.address-box .btn-left {
  border-radius: .5rem;
  margin: 0 2rem;
}

/* Pagination */
.pagination a {
  padding: 1rem 1.5rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
}
.pagination a:hover {
  font-weight: bold;
  color: #000;
  background: #E3E6E6;
}
.pagination a.active {
  font-weight: bold;
  color: #c45629;

  border: thin solid #c45629;
  background: #fff;
}

/*product*/
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem;
  padding: 2rem;
  width: 100%;
  max-height: 40rem;
  min-width: 10rem;
  background-color: white;
  z-index: 1;
}
.product__rating {
  display: flex;
}
.product > img {
  max-height: 20rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: 1.5rem;
}
.product > button {
  margin-top: 1rem;
  color: #111;
  background: #f0c14b;
  border: thin solid #a88734 #9c7e31 #846a29;
}
.product__price {
  margin-top: 0.5rem;
}
.product__info {
  height: 10rem;
  margin-bottom: 1.5rem;
}
textarea#comment {
  height: 10rem;
  resize: vertical;
}
.btn-group__width12 {
  width: 12rem;
  min-width: 11rem;
}

/* searchScreen */
.search__banner {
  padding: 0.5rem 0;
  margin: -0.5rem -1rem;
  background: #fff;
  box-shadow: 0 2px 5px rgba(15,17,17,.15);
}
.search__count {
  margin-left: 2rem;
}
.sort-dropdown {
  margin-right: 2rem;
  padding-left: 2rem;
  padding-right: 1rem;
  border: thin solid #ccc;
  border-radius: 1.5rem;
  background: #F2F2F2;
  box-shadow: 0 2px 5px rgba(15,17,17,.15);
}
.sort-dropdown select {
  width: 13rem;
  padding: 0.25rem;
  font-size: 1.3rem;
  outline: none;
  border: none;
  background: #F2F2F2;
  cursor: pointer;
}
.sort-dropdown:hover,
.sort-dropdown:hover select {
  background: #E3E6E6;
}
.row.search__banner + .row {
  background: #fff;
  margin: 2rem -2rem;
}
.search__filter {
  margin-left: 3rem;
}
.search__results {
  margin-top: 2rem;
  border-left: #0003 2px solid;
}
.rating .fa {
  font-size: 2rem;
  color: #f3a333;
}

/* Tablet - PC low resolution */
@media (max-width: 1123px) {
  .pc {
    display: none;
  }
}
/* >= Tablet */
@media (max-width: 949px) {
  .tablet {
    display: none;
  }
}
/* Mobile */
@media (max-width: 779px) {
  .mobile {
    display: none;
  }
}/* Mobile-s lanscape*/
@media (max-width: 679px) {
  .mobile-s {
    display: none;
  }
  .search input {
    padding-right: 2rem;
    font-size: 1.2rem;
  }
  .search button {
    width: 3rem;
    font-size: 1.2rem;
    margin-left: -3rem;
  }
  aside {
    width: 32rem;
  }
  .nav-item.dropdown {
    order: 1;
  }
}
/* Mobile-xs portrait*/
@media (max-width: 375px) {
  aside {
    width: 28rem;
  }
}