html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  background-color: #eaeded;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
* {
  user-select: none;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 6rem;
  height: 100%;
}
header {
  grid-area: header;
  min-width: 576px;
  background-color: #131921;
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: #131921;
  color: #ffffff;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
button.primary {
  background-color: #f0c040;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
.flex {
  display: flex;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
img.logo {
  width: 3.2rem;
  object-fit: cover;
  margin: 0 0 -0.5rem 0;
}
a .brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.header__nav {
  margin: 0 0.5rem;
  padding: 0.4rem;
  border-radius: 0.5rem;
}
.header__nav:hover {
  outline: white solid thin;
}
.header__nav.basket {
  margin-right: 1.5rem;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-right: 0.2rem;
  font-weight: 800;
  color: white;
}
.map .header__option {
  margin-right: 0.5rem;
  font-size: 2.4rem;
}
.header__optionLineOne {
  font-size: 12px;
}
.header__optionLineTwo {
  font-size: 15px;
}
.header__basketCount {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  font-size: 18px;
  color: #ff8000;
}
.header__basket i {
  font-size: 36px;
}
img.cart {
  margin-top: -2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 35rem;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  transform: translate3D(-40rem,0,0);
  transition: all 0.3s ease;
}
aside.open, aside.open button.close-sidebar {
  transform: translate3D(0,0,0);
}
button.close-sidebar {
  position: absolute;
  padding: 0.3rem 0.8rem;
  font-size: 3rem;
  top: 0.5rem;
  right: -4rem;
  background: none;
  color: #fff;
  border: none;
  transform: translate3D(-10rem,0,0);
  transition: all 0.3s ease;
}
button.close-sidebar:focus {
  outline: none;
}
.click-catcher {
  display:block;
  position:fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0008;
  z-index: 99;
  cursor: pointer;
}
button.open-sidebar {
  font-size: 2.4rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside .header #sidebar-user{
  color:#fff;
  background-color: #232f3e;
  font-size: 2.1rem;
  font-weight: bold;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
aside li > a,
aside li > strong {
  display: block;
  width: 100%;
  padding: 1.2rem 4rem;
}
aside li > a {
  color: #111;
}
aside li > a:hover {
  color: #111;
  background-color: #eaeded;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown, .return {
  display: inline-block;
  position: relative;
  padding: .75rem 0.4rem;
}
.dropdown-content:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: -1rem;
  right: 1.5rem;
  border: 0 solid transparent;
  border-right-width: 1rem;
  border-left-width: 1rem;
  border-bottom: 1rem solid #f0f0f0;
}
.dropdown-content:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2rem;
  top: -1rem;
  right: 0;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #f0f0f0;
  margin: 0;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem #131921;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: #131921;
  font-size: 14px;
}
.dropdown-content a:hover {
  color: #ff8000;
  }
.trend-line {
  width: 100%;
  height: 1px;
  margin-top: 1rem;
  background: #bbb;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search-box {
  flex: 1;
}
.search button {
  width: 5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
  width: 5rem;
}
.search input {
  flex:1;
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button.right {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
.map-input-box button.left {
  border-radius: 1rem;
  margin-left: -8rem;
  margin-right: 2rem;
}

/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

/*product*/
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
  padding: 20px;
  width: 100%;
  max-height: 400px;
  min-width: 100px;
  background-color: white;
  z-index: 1;
}
.product__rating {
  display: flex;
}
.product > img {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
.product__price {
  margin-top: 5px;
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
}

/* Tablet - PC low resolution */
@media (max-width: 1123px) {
  .pc {
    display: none;
  }
}
/* >= Tablet */
@media (max-width: 949px) {
  .tablet {
    display: none;
  }
}
/* Mobile */
@media (max-width: 779px) {
  .mobile {
    display: none;
  }
}/* Mobile */
@media (max-width: 639px) {
  .mobile-s {
    display: none;
  }
}