/*product*/
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 1rem;
  padding: 2rem;
  width: 100%;
  max-height: 40rem;
  min-width: 10rem;
  background-color: white;
  z-index: 1;
}
.product__rating {
  display: flex;
}
.product > img {
  max-height: 20rem;
  width: 100%;
  object-fit: contain;
  margin-bottom: 1.5rem;
}
.product > button {
  margin-top: 1rem;
  color: #111;
  background: #f0c14b;
  border: thin solid #a88734 #9c7e31 #846a29;
}
.product__price {
  margin-top: 0.5rem;
}
.product__info {
  height: 10rem;
  margin-bottom: 1.5rem;
}
textarea#comment {
  height: 10rem;
  resize: vertical;
}

/* images section */
.product__thumbnail {
  max-width: 5rem;
  width: 100%;
  border: thin solid #a4a4a4;
  margin-bottom: 1rem;
}
img.active {
  box-shadow: 0 0 3px 2px #f19833;
}

/* PRODUCT EDIT */
.product-edit .img-row {
  align-items: end;
  height: 8rem;
}
.product-edit .img-row > *:nth-child(2) {
  flex: 1;
}
.product-edit label,
.product-edit #new-images {
  cursor: pointer;
}
.product-edit #new-images,
.product-edit #image-link {
  margin: 1rem 0;
  width: 100%;
  box-sizing: border-box;
}
